@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,900;1,600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* Slider */
.slider {
  width: 100%;
  height: 25px;
  -webkit-appearance: none; 
  appearance: none;
  outline: none; 
  background-image: url("../public/Slider-4x.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  /* opacity: 0.8; */
  /* Change */
  overflow: hidden;
  
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 18px;
  height:18px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: -195px -86px 43px 400px #ff0000;
  -moz-box-shadow: -195px -86px 21px 400px #ff0000;
  box-shadow: -754px -86px 15px 750px #ff0000;

}


/* Nav bar */
@media only screen and (max-width: 768px) {
    /* Slider */
  .slider {
      height: 18px;
  }
  .slider::-webkit-slider-thumb {
      height: 13px;
      width: 13px;

  }
}